@charset "utf-8";
/* CSS Document */


li.ui-state-disabled.ui-draggable-disabled { opacity : 1;} /* Evita el fade out al desactivar el draggable (se desactiva cuando nos salimos del mapa y hace una correccion automática usando el animate. */

filter: alpha(opacity = 50); /* Evita el fade out al desactivar el draggable (se desactiva cuando nos salimos del mapa y hace una correccion automática usando el animate. Para IE7 */



body{
	overflow:hidden;
	-moz-user-select: none;
	margin: 0 0 0 0;
	top:0px;
	font-size:12px;
}
	#viewport {
		-moz-user-select: none;
    	overflow:hidden;     /* Si elimino esto, veo cómo sobresalen los divs (interesante para testeo de creación dinámica de divs  */

		position: absolute;
		position: fixed; /* Evita que se mueva el div!!  */
/* Tamaño del ViewPort */
    	width:100%;
    	height:100%;
		

    	clear:all;
    /*	border:1px solid black;             ESTO APLICARLO SÓLO SI NO ES A PANTALLA COMPLETA!!!! SI NO, GENERA EL PROBLEMA DE 1 PIXEL DE DESPLAZAMIENTO!! */

/* 		margin:0 auto 0 auto;   Para centrar el viewport */
/*		background-color:#FFCCCC;  /* color del fondo de la "nada" (fondo de debajo del mapa! */
		background-color:#FFF;/* color del fondo de la "nada" (fondo de debajo del mapa! */
		top:0px;
left:0px;
    }   


/*
     #slider_container {
    	overflow:hidden;     /* Si elimino esto, veo cómo sobresalen los divs (interesante para testeo de creación dinámica de divs  
    	width:201px;
    	height:150px;
		top: 25px;
		right: 25px;
    	clear:all;
    	border:1px solid black;
	 	position: absolute;
		
		background-color:#FFCCCC;
	z-index:30000;
	visibility:visible;
	
	
    } 
*/

.objectsLayer
{
		z-index:96000;
	        -webkit-transform: translate(0px, 0px) scale(1); 
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;      
}

.imgSelect
{
	z-index:27000;
	/*
        -webkit-transform: translate(0px, 0px) scale(1); 
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; 
		*/      	
}


.imgSelect:hover
{
	border: 3px solid yellow;
	cursor:pointer;
}




.imgSelectMini
{
	z-index:27000;
	/*
        -webkit-transform: translate(0px, 0px) scale(1); 
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; 
		*/      	
}


.imgSelectMini:hover
{
	border: 2px solid red;
	cursor:pointer;
}




.imgSelect2
{
	z-index:27001;
	/*
        -webkit-transform: translate(0px, 0px) scale(1); 
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; 
		*/      	
}


.imgSelect2:hover
{
	border: 3px solid #00FF00;
	cursor:pointer;
}






.downToolbarIcon
{
	z-index:217001;
border: 2px solid white;

filter: alpha(opacity=100);

opacity: 1;

-moz-opacity:1;

	/*
        -webkit-transform: translate(0px, 0px) scale(1); 
        -webkit-transition: all 400ms ease-in-out;

        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; 
		*/      	
}


.downToolbarIcon:hover
{
	border: 2px solid red;
	cursor:pointer;
}




.imgSelectGreen
{
	z-index:27000;
	/*
        -webkit-transform: translate(0px, 0px) scale(1); 
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; 
		*/      	
}


.imgSelectGreen:hover
{
	border: 3px solid #0C0;
	cursor:pointer;
}






	.button
	{
		cursor:pointer;
	}

     #loading_message {
    	overflow:hidden;     /* Si elimino esto, veo cómo sobresalen los divs (interesante para testeo de creación dinámica de divs  */
    	width:201px;
    	height:150px;
		bottom: 30px;
		right: 80px;
    	clear:all;

	 	position: absolute;
    top:50%;
    left:50%;
	/*	position:fixed; /* Evita que se mueva el div!!  ATENCION ATENCION ATENCION... ESTO, provoca un fallo en Internet Explorer!*/

		z-index:99000;
	
	
    } 


     #minimap_container {
    	overflow:hidden;     /* Si elimino esto, veo cómo sobresalen los divs (interesante para testeo de creación dinámica de divs  */
    	width:201px;
    	height:150px;
		bottom: 75px;
		right: 69px;
    	clear:all;
    	border:1px solid black;
	 	position: absolute;
	/*	position:fixed; /* Evita que se mueva el div!!  ATENCION ATENCION ATENCION... ESTO, provoca un fallo en Internet Explorer!*/
		background-color:#FFCCCC;
		z-index:30000;
	
	
    } 
	


	.minimapsubwindow3
	{
		position:absolute; 
		border:1px solid red;
		left: 50%;
		top: 50%;
		width: 44px;
		height: 32px;
		margin-top: -16px;
		margin-left: -24px;
 		overflow: auto; 
		z-index:10000;
		filter:alpha(opacity=70); opacity:0.7;
/*		visibility:hidden; */
	}

	.minimapsubwindow2
	{
		position:relative; 
		border:2px solid yellow;
		width: 40px;
		height:28px;
		z-index:10000;
	}


	.minimapsubwindow
	{
		position:relative; 
		border:1px solid red;
		width: 38px;
		height:26px;
		z-index:30000;
	}
	
     #control_interrupciones {
	overflow:hidden;     /* Si elimino esto, veo cómo sobresalen los divs (interesante para testeo de creación dinámica de divs  */
	width:201px;
	top:60px;
	height:250px;
	bottom: 25px;
	margin-left: 25px;
	clear:all;
	border:1px solid black;
	position: absolute;
	visibility:hidden;
	background-color:#FFAAFF;
	z-index:3000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;	
    } 

	#controlscontainer{
    	width:120px;


		text-align:right;
		float:right;
		margin-right: 140px;
		bottom: 20px;
		left:400px;
		bottom:100px;
		visibility: visible;
	 	position: absolute;	
	z-index:30000;
	}

     #controls {
	overflow:visible;     /* Si elimino esto, veo cómo sobresalen los divs (interesante para testeo de creación dinámica de divs  */
	width:61px;
	height:60px;
	float:right;
/*	margin-right: 15px; */
	clear:all;
	border:0px;
	visibility: visible;
	bottom:74px;
	right:4px;
/*	background-color:#11CC11; */
	z-index:30000;
	text-align: left;
	position:absolute;	
/*	position:fixed; /* Evita que se mueva el div!!   THIS CAUSES PROBLEMS IN INTERNET EXPLORER!!*/
    } 




	#logoMapemio
	{
		position:absolute;
		overflow:visible;
		bottom:62px;
		right:-110px;
		z-index: 99999;	
	}


a.noBlueLinks:hover,a.noBlueLinks:active {text-decoration:underline; color:black;}

a.noBlueLinks:visited,a.noBlueLinks:link {text-decoration:none; color:black;}

/*
	.noBlueLinks
	{
	color:black; text-decoration:none;
	}

.noblueLinks:hover {
text-decoration: overline;
color: black;
}
*/
     #toolbar {
	overflow:hidden;
	margin:0 0 0 0; 
	height:35px;
	clear:all;
	border:1px solid black;
	position: absolute;
/*	background-color:#333; */
	background-color:#333;
	z-index:4449000;
	text-align: left;
	alignment-adjust:central;
	top:0px;
	right:-1px;
	left:-1px;
	width:100%;
	/*
filter: alpha(opacity=75);

opacity: .75;

-moz-opacity:0.75;
	
/*	visibility:hidden;*/

    } 




     #down_toolbar {
	overflow:hidden;
	margin:0 auto 0 auto; 
	height:66px;
	clear:all;
	border:1px solid black;
	position: absolute;
	background-color:#333;
	z-index:669000;
	text-align: left;
	alignment-adjust:central;
	bottom:0px;
	right:-1px;
	left:-1px;
	
filter: alpha(opacity=75);

opacity: .75;

-moz-opacity:0.75;
	
/*	visibility:hidden; */

    }




     #down_toolbar_icons {
	overflow:hidden;
	margin:0 auto 0 auto; 
	height:66px;
	clear:all;

	position: absolute;

	z-index:669000;
	text-align: left;
	alignment-adjust:central;
	bottom:0px;
	right:-1px;
	left:-1px;
	
	
/*	visibility:hidden; */

    } 

 

	#down_toolbar_fbbutton{
	
		overflow:hidden;
	margin:0 auto 0 auto; 
	height:38px;
	clear:all;
/*	border:1px solid black; */
	position: absolute;
/*	background-color:#333;*/
	z-index:9001;
	text-align: left;
	alignment-adjust:central;
	bottom:0px;
	right:-1px;
	left:-1px;
		
	}



  .rightalign {
	text-align: right;
	

}


  .colorToolbar {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
	margin-left:10px;
                 height: 38px;
                margin-top: -14px;
                position: absolute;
                top: 50%;

}







     #toolbar2 {
	visibility:hidden;
	overflow:hidden;
	margin:0 auto 0 auto; 
	height:36px;
	clear:all;
	border:1px solid black;
	position: absolute;
	background-color:#333;
	z-index:9000;
	text-align: left;
	alignment-adjust:central;
	top:39px;
	right:-1px;
	left:-1px;
	
filter: alpha(opacity=75);

opacity: .75;

-moz-opacity:0.75;
	
/*	visibility:hidden;*/

    } 



div.editable {
    width: 330px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    z-index:10000000;
}



     #panel {
	visibility:visible;
	overflow:visible;
/*	margin:0 auto 0 auto;  ??????????*/

	clear:all;
	border:1px solid black;
	position: absolute;
/*	background-color:#333;*/
	background-color:white;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	z-index:4448999;
	text-align: left;
	color: black;
	alignment-adjust:central;
	top:0px;

	left:0px;	/* Posición inicial de panel. -400 = recogido */
	width:400px;
	height:100%; 
/*	padding-bottom:100px; */
/*	bottom:-39px;  */
/*	 margin-bottom:36px; */

/*	
filter: alpha(opacity=75);

opacity: .75;

-moz-opacity:0.75;
	
/*	visibility:hidden;*/

    } 








     #panel_icons {
	visibility:visible;
	overflow:visible;
/*	margin:0 auto 0 auto;  ??????????*/

	clear:all;
	border:0px solid black;
	position: absolute;
/*	background-color:#333;*/
	background-color:white;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	z-index:8999;
	text-align: left;
	color: black;
	alignment-adjust:central;
	top:-16px;
	left:20px;	/* Posición inicial de panel. -400 = recogido */
	width:400px;
	height:50px; 
/*	bottom:-39px;  */
/*	 margin-bottom:36px; */

/*	
filter: alpha(opacity=75);

opacity: .75;

-moz-opacity:0.75;
	
/*	visibility:hidden;*/

    } 













  .rightalign {
	text-align: right;
	

}




    #draggable {
    position: absolute;
	z-index:10;
}
.inv{visibility:hidden;}


.textoinferior
{
	z-index:3000; 
	position:absolute; 
	position:fixed; /* Evita que se mueva el div!!  */
	bottom:4px; 
	right:4px; 
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	-moz-user-select: none;
}


     #css-tip-dialog {
    	overflow:hidden;     /* Si elimino esto, veo cómo sobresalen los divs (interesante para testeo de creación dinámica de divs  */
    	width:201px;
    	height:150px;
		bottom: 25px;
		margin-left: 25px;
    	clear:all;
    	border: none;
	 	position: absolute;
		top:200px;
		left:200px;
		background-color: #FFC;
	z-index:3000;
	
	
    } 

     #css-admin-dialog {
    	overflow:hidden;     /* Si elimino esto, veo cómo sobresalen los divs (interesante para testeo de creación dinámica de divs  */
    	width:201px;
    	height:150px;
		bottom: 25px;
		margin-left: 25px;
    	clear:all;
    	border: none;
	 	position: absolute;
		top:200px;
		left:200px;
		background-color: #900;
	z-index:3000;
	
    } 


.preview
{

 
 visibility:hidden;
 
}

.sector
{


/* Activa borde dashed */
/* border: 1px dashed #999999; */
/* border: 1px dashed red; */


 
 visibility:hidden;
 z-index:10;
 
 /*width:280px;
 height:280px;*/
 
/*
border-top-width: 0pt;

border-right-width-value: 0pt;

border-right-width-ltr-source: physical;

border-right-width-rtl-source: physical;

border-bottom-width: 0pt;

border-left-width-value: 0pt;

border-left-width-ltr-source: physical;

border-left-width-rtl-source: physical;

border-top-style: none;

border-right-style-value: none;

border-right-style-ltr-source: physical;

border-right-style-rtl-source: physical;

border-bottom-style: none;

border-left-style-value: none;

border-left-style-ltr-source: physical;

border-left-style-rtl-source: physical;

border-top-color: -moz-use-text-color;

border-right-color-value: -moz-use-text-color;

border-right-color-ltr-source: physical;

border-right-color-rtl-source: physical;

border-bottom-color: -moz-use-text-color;

border-left-color-value: -moz-use-text-color;

border-left-color-ltr-source: physical;

border-left-color-rtl-source: physical;

*/
}
/*
img { src:url(../corrector.png);}
*/
.css-3d-bug-fix-hack {  }
